# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.vscode/
*.suo
*.VC.db
*.VC.opendb

# Solution files
*.sln
*.xcodeproj
*.xcworkspace

# Logs
*.log

# Build output
Build/

# Mac / OS files
.DS_Store